<div style="padding:5px 10px">
  <h5>Details</h5>
  <div style="display: flex; flex-direction: row">
    <div>
      <ion-label>Date Last Modified</ion-label>
      <br>
      <ion-icon style="font-size: 20px;" name="calendar-outline"></ion-icon>

      <div style="display:inline-block;">


        <div style="display:flex;flex-direction:column" class="w3-border w3-border-red">
          <ion-label>{{photo.updated_at | date}}</ion-label>
          <ion-label>{{photo.updated_at | date: "shortTime"}}</ion-label>
        </div>
      </div>
    </div>
  </div>
  <div style="display: flex; flex-direction: row; padding-top: 10px;">
    <div>
      <ion-label>Date Last Modified</ion-label>
      <br>
      <ion-icon style="font-size: 20px;" name="calendar-outline"></ion-icon>

      <div style="display:inline-block;">


        <div style="display:flex;flex-direction:column" class="w3-border w3-border-red">
          <ion-label>{{photo.updated_at | date}}</ion-label>
          <ion-label>{{photo.updated_at | date: "shortTime"}}</ion-label>
        </div>
      </div>
    </div>
  </div>
  <div style="display: flex; flex-direction: row; padding-top: 10px;">
    <div>
      <ion-label>Date Last Modified</ion-label>
      <br>
      <ion-icon style="font-size: 20px;" name="calendar-outline"></ion-icon>

      <div style="display:inline-block;">


        <div style="display:flex;flex-direction:column" class="w3-border w3-border-red">
          <ion-label>{{photo.updated_at | date}}</ion-label>
          <ion-label>{{photo.updated_at | date: "shortTime"}}</ion-label>
        </div>
      </div>
    </div>
  </div>
</div>