<div *ngIf="photos" style="height: 100vh;">

  <div style="padding: 5px 0;" (click)="goBack()">
    <ion-icon class="back" name="chevron-back-outline"></ion-icon>
    <ion-label style="margin-bottom: 5px; color: rgb(9, 58, 114); cursor: pointer">
      Back
    </ion-label>
  </div>

  <div style="display:flex; flex-direction: row; height: 88vh;">

    <ion-icon [ngClass]="{'disabled': index === 0}" (click)="goPrevious()" style="align-self: center; width: 10%;"
      name="arrow-back-circle-outline"></ion-icon>

    <div class="box" style=" width: 80%; margin: 5px 20px; overflow:scroll">
      <div style="display: flex; margin-bottom: 2px;">
        <ion-input debounce="1000" [(ngModel)]="photo_name" (ionChange)="updatePhotoName()" value="{{this.photos[this.index].name}}"></ion-input>
        <ion-icon (click)="deletePhoto()" style="font-size: 20px; margin-top: 6px" name="trash-outline"></ion-icon>
        <ion-icon (click)="zoomInPhoto()" style="font-size: 20px; margin-top: 6px" name="square-outline"></ion-icon>
        <ion-icon (click)="zoomOutPhoto()" style="font-size: 20px; margin-top: 6px" name="stop-outline"></ion-icon>
        <ion-icon (click)="moreInfo($event)" style="font-size: 20px; margin-top: 6px" name="ellipsis-vertical-outline"></ion-icon>
      </div>

      <img id="image" src={{this.photos[index].file_name}}>



      <div style="display: flex; justify-content: space-around; align-items: flex-end; margin-top: 20px">
        <div *ngIf="this.photos">
          {{this.index+1}}/{{this.total_photos}} Photos
        </div>

        <div>
          
          <ion-icon *ngIf="photo_liked === true" (click)="likePhoto(index)"  name="heart"  style="font-size: 16px; margin-bottom: -5%;"></ion-icon>
          <ion-icon *ngIf="photo_liked === false" (click)="likePhoto(index)" name="heart-outline" style="font-size: 16px; margin-bottom: -5%;"></ion-icon>
          <label>{{(this.photos[index].total_likes) ? this.photos[index].total_likes : '0'}}</label>

          <ion-icon style="font-size: 16px; margin-bottom: -5%;"
            name="chatbox-ellipses-outline"></ion-icon>
          <label>{{(this.photos[index].total_comments) ? this.photos[index].total_comments : '0'}}</label>
        </div>

        <div>
          <label>Tags:</label>
          <label *ngFor="let tag of this.photos[index].tags" style="color: rgb(9, 58, 114)">
            #{{tag.title}}
          </label>
        </div>
      </div>

      <div id="comment-section">
        Comments:
        <div style="margin: 2px 20px">

          <div *ngFor="let comment of this.photos[index].comments" class="author"
            style="flex-direction: row; display:flex; align-items:center">
            <ion-icon name="person-circle"></ion-icon>
            <div style="padding-right: 25px; min-width: 100px">
              <p style="font-size:18px">@{{(comment.username)}}</p>
              <p style="color: grey; font-size: 12px;">{{comment.updated_at| date}}</p>
              <p style="color: grey; font-size: 12px;">{{comment.updated_at | date:'shortTime'}}</p>
            </div>
            <div class="content" style="padding: 7px 2px;">
              <p>{{comment.body}}</p>

            </div>
            <div *ngIf="comment.user_id === user_id || this.photos[index].user_id === user_id"  style="align-self: flex-end; flex-grow:2; text-align:right;">
              <ion-label style="cursor:pointer" (click)="deleteComment(comment.id)" color="danger">Delete</ion-label>
            </div>
          </div>
          <div style="padding: 5px 20px; margin-top: 20px;">
            <form [formGroup]="form" (submit)="addNewComment()">
              <ion-label>Add a comment</ion-label>
              <ion-item>
                <ion-input formControlName="body"></ion-input>
                <button>Send</button>
              </ion-item>
            </form>
          </div>
        </div>
      </div>
    </div>

    <ion-icon [ngClass]="{'disabled': index === this.photos.length - 1}" id="next" (click)="goNext()"
      style="align-self: center;width: 10%;" name="arrow-forward-circle-outline"></ion-icon>
  </div>
</div>