@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

nav li {
    display: inline-block; 
}

.nav-bar {
    ion-button {
        // text-transform: none;
        font-size: 10px;
        color: black;
        
    }
}

.nav-bar .active {
    // --background-activated: blue;
    ion-button {
        // font-size:20px;
        color: white;
        background: rgb(9, 58, 114);


    }
}