<ion-list>
  <ion-radio-group [(ngModel)]="sortMode" name="sortby" (ionChange)="radioGroupChange($event)" #radioGroup>
    <ion-item>
      <ion-label>Sort by Date</ion-label>
      <ion-radio slot="end" value="sortbydate"></ion-radio>
    </ion-item>
    <ion-item style="width: 100%;">
      <ion-label>Sort by Name</ion-label>
      <ion-radio slot="end" value="sortbyname"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>Sort by Filesize</ion-label>
      <ion-radio slot="end" value="sortbysize"></ion-radio>
    </ion-item>
  </ion-radio-group>
</ion-list>

