<div style="display:flex;flex-direction:column;justify-content:space-between; height: 400px;padding:10px;">
  <form [formGroup]="form" >
  <div>
    <ion-item style="--highlight-color-focused: green">
      <ion-input formControlName="name" name="name" placeholder="Add photo name"></ion-input>
    </ion-item>
  </div>

  <!-- <div>
    <ion-item style="--highlight-color-focused: green">
      <ion-input placeholder="Tags"></ion-input>
    </ion-item>
  </div>

  <div>
    <label>Add to Albums (optional)</label>
    <button (click)="presentAddToAlbumModal()">Select Album</button>
  </div>

  <div>
    <label>Sharing Options</label><br>
    <label>Allow photo to be in Discover</label>
  </div> -->

  <div>

  </div>
  <div style="align-self: center;">
    <app-upload (uploaded)=addToForm($event)></app-upload>
  </div>

  <div style="align-self: center;">
    <ion-button (click)="submit()">add</ion-button>
  </div>
</form>

</div>