<div class="albums">
  <div style="height: 5vh;">
    <ion-button (click)="presentCreateModal()" fill="clear" size="small" color="primary">Create New Album</ion-button>
  </div>

  <div style="height:80vh; overflow:scroll; padding: 0 50px">
    <div *ngFor="let album of albums " class="responsive">
      <div class="gallery" >

        <img class="thumbnail" *ngIf="album.photos.length == 0" src="http://localhost:8000/resources/empty_album.png"
          alt="Cinque Terre" width="600" height="400">

        <img class="thumbnail" *ngIf="album.photos.length > 0" src="{{album.photos[0].file_name}}" alt="Cinque Terre"
          width="600" height="400">
        <ion-icon  (click)="editAlbum($event, album)" class="edit" color="light" name="ellipsis-vertical-outline"></ion-icon>

        <div class="desc">
          <p>{{album.album_name}}</p>
          <p id="details" style="float:right;">{{album.created_at | date}}</p>
          <p id="details">{{album.total_photos}} 
          {{album.total_photos == 1 ? 'photo' : 'photos'}}</p>
        </div>
        
      </div>
    </div>
  </div>
</div>

<!-- src="http://localhost:8000/images/xyYtgUoBGM.jpg" -->