
  <div *ngIf="this.id" style="display: flex; margin-bottom: 2px;">
    <!-- <ion-input value="{{this.photo.name}}"></ion-input> -->
  </div>
  <!-- <img src={{this.user.photos[this.index].file_name}}> -->

  <div style="display: flex; justify-content: space-around; align-items: flex-end; margin-top: 20px">
    <!-- <div *ngIf="user">
      {{this.index}}/{{user.photos.length}} Photos
    </div>     -->

    {{this.id}}
    <div>
      <label>Tags:</label>
      <!-- <label *ngFor="let tag of this.photo.tags" style="color: rgb(9, 58, 114)">
      #{{tag.title}}
      </label> -->
    </div>

    <div>
      <ion-icon style="font-size: 16px; margin-bottom: -5%;" name="heart-outline"></ion-icon>
      <!-- <label>{{this.photo.total_likes}}</label> -->

      <ion-icon style="font-size: 16px; margin-bottom: -5%;" name="chatbox-ellipses-outline"></ion-icon>
      <!-- <label>{{this.photo.total_comments}}</label> -->
    </div>
  </div>
