<form [formGroup]="form" (ngSubmit)="submit()">
  <ion-header class="modal-header" style="margin-bottom: 25px;">
    <ion-toolbar>
      <ion-title>
        Upload Photo
        <ion-icon (click)="cancel()" color="danger" style="font-size: 28px; cursor: pointer; float: right"
          name="close-sharp"></ion-icon>
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="container">
    <label>Add a title</label>
    <ion-input id="title" formControlName="name" name="name" placeholder="Title"></ion-input>
    <br>

    <label>Tags</label>
    <ion-input name="tag" placeholder="Seperate tags with a space" (keyup)="clear($event)"
      (keydown)="tagFormat($event)"></ion-input>
    <div style="display: inline-block; display: flex; flex-wrap: wrap;">
      <p *ngFor="let tag of tags" class="tags" style="margin-right: 5px;"><span
          style="color:rgb(53, 161, 26)">#</span>{{tag}}<ion-icon (click)="deleteTag(tag)" color="danger" class="delete-tag"
          style="margin-bottom: -5%;" name="close-circle-outline"></ion-icon>
      </p>
    </div>
    <br>

    <label>Add Photo:</label>
    <app-upload (uploaded)=addToForm($event)></app-upload>
    <div *ngIf="this.image" style="display:flex; flex-direction: column">
      <img id="photo-to-upload" src={{this.image}} alt="image-to-upload">
    </div>
    <br>

    <label style="padding-bottom: 5px;">Sharing options:</label>
    <div style="display: inline-block">
      <ion-checkbox (ionChange)="isPublic($event)" checked="false" formControlName="isPublic" id="public"
        style="top:7%; --size: 12px; margin-right: 2px;"></ion-checkbox>
      <label> Allow photo to be in Discover</label>
    </div>
    <br>


    <div *ngIf="!this.albumPage">
      <div *ngIf="this.image" style="display:flex;flex-direction:column;align-items: flex-start; width: 100%;">
        <label>Add to Albums (optional)</label>
        <ion-button (click)="presentAddToAlbumModal()" shape="round" size="small" mode="ios">Select Album</ion-button>
        <br>

        <ion-button (click)="submit()" style="align-self: center;">Upload</ion-button>
      </div>
    </div>

    <div *ngIf="this.albumPage">
      <div *ngIf="this.image" style="display:flex;flex-direction:column;align-items: flex-start; width: 100%;">
        <ion-button (click)="submit()" style="align-self: center;">Upload</ion-button>
      </div>
    </div>


  </div>

</form>