ion-input {
    padding: 0;
    border: 1px solid black;
    max-height: 25px;border-radius: 5px 5px 5px 5px;
    width: 100%;
    // margin: 0 auto;
}

ion-button {
    text-transform: capitalize;
    --background: rgb(9, 58, 114);
    --color: white;
    color: white;
}

#photo-to-upload {
    width: 200px;
    height: 200px;
    padding-bottom: 5px;
    display:inline-block;
}

.container {
    display:flex;
    flex-direction:column; 
    // justify-content:space-around;
    align-items: flex-start;
    margin: 0 10px 10px;
    padding: 0 10px 10px;

}

* {
    color: rgb(9, 58, 114);
}

#tags {
    padding: 0;
    margin-top: 0;
}