<ion-header class="modal-header" style="margin-bottom: 25px;">
  <ion-toolbar>
    <ion-title>
      Create New Shared Album
      <ion-icon (click)="cancel()" color="danger" style="font-size: 28px; cursor: pointer; float: right"
        name="close-sharp"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>
<form [formGroup]="form">
  <div class="container">

    <label>Add an album name</label>
    <ion-input formControlName="album_name"></ion-input>
    <br>
    <!-- <div *ngIf="!user"> -->
    <div *ngIf="!sharedUser" style="display: flex; flex-direction:column">
      <label>Share With:</label>
      <ion-button (click)="presentShareWithUserPopover()">Add</ion-button>
    </div>
    <div *ngIf="sharedUser" style="display: flex; flex-direction:column">
      <label>Sharing with <span style="color:rgb(31, 117, 74)">@{{sharedUser.username}}</span></label>
    </div>
    <br>

    <div *ngIf="this.imageUrl">
      <label>Photo to be added</label>
      <br>
      <img src={{this.imageUrl}}>
      <br>
    </div>
    <div *ngIf="!this.imageUrl" style>
      <label>Add a photo (optional)</label>
      <br>
      <ion-button size="small" style="justify-content: center;" (click)="uploadPhoto()">Upload</ion-button>
    </div>
    <br>
    <ion-button (click)="createAlbum()" style="align-self: center;">Create</ion-button>
  </div>
</form>