<ion-header class="modal-header" style="margin-bottom: 25px;">
  <ion-toolbar>
    <ion-title>
      Add To Album
      <ion-icon (click)="cancel()" color="danger" style="font-size: 28px; cursor: pointer; float: right"
        name="close-sharp"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>
<div class="container">
  <h5>Create new</h5>
  <ul>
    <li>
      <ion-icon (click)="presentCreateModal()" name="add-sharp"></ion-icon> Personal Album
    </li>
    <li>
      <ion-icon name="add-sharp"></ion-icon> Shared Album
    </li>
  </ul>

  <h4>Personal Albums</h4>

  <div style="overflow:scroll; height: 30vh; display:flex; width: 100%;" class="w3-border-red w3-border">
    <ul id="personal">
      <li *ngFor="let album of this.albums" style="padding-left:10px;">
        <ion-icon style="margin-bottom: -10%;" size="large" name="albums-sharp"></ion-icon>
        <label style="margin-left: 7px;">{{album.album_name}}</label>
        <br>
      </li>
    </ul>
  </div>

  <h4>Shared Albums</h4>

</div>